[with-styled-webkit-scrollbars] ::-webkit-scrollbar {
  width: 1em;
}

[with-styled-webkit-scrollbars] ::-webkit-scrollbar-track {
  background: none;
  border: none;
}

[with-styled-webkit-scrollbars] ::-webkit-scrollbar-thumb {
  min-height: 3.5em;
  background-color: var(--gray-6);
  background-clip: padding-box;
  border: .25em solid transparent;
  border-radius: .5em;
  box-shadow: none;
}

[with-styled-webkit-scrollbars] ::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-4);
}

[theme="dark"][with-styled-webkit-scrollbars] ::-webkit-scrollbar-thumb,
[theme="dark"] [with-styled-webkit-scrollbars] ::-webkit-scrollbar-thumb {
  background-color: var(--gray-2);
}

[theme="dark"][with-styled-webkit-scrollbars] ::-webkit-scrollbar-thumb:active,
[theme="dark"] [with-styled-webkit-scrollbars] ::-webkit-scrollbar-thumb:active {
  background-color: var(--gray-5);
}
