.DocsMarkdown {
  word-wrap: break-word;
}

.DocsMarkdown img {
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
}

.DocsMarkdown hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.DocsMarkdown--link {
  text-decoration: none;
  color: inherit;

  /* TODO */
  /*color: rgb(3, 102, 214);*/
  --background-color-rgb: var(--orange-rgb);
  --background-color-alpha: .08;
  --border-bottom-color-rgb: var(--orange-3-rgb);
  --border-bottom-color-alpha: .3;
  background-color: rgba(var(--background-color-rgb), var(--background-color-alpha));
  border-bottom: 1px solid rgba(var(--border-bottom-color-rgb), var(--border-bottom-color-alpha));

  --focus-shadow: 0 0 0 var(--focus-size) var(--focus-color);
  box-shadow: var(--focus-shadow);
}

[js-focus-visible-polyfill-available] .DocsMarkdown--link:focus {
  outline: none;
}

.DocsMarkdown--link[is-focus-visible] {
  border-color: transparent;
}

.DocsMarkdown--link:not([is-focus-visible]) {
  --focus-size: 0;
}

.DocsMarkdown--link:hover {
  --background-color-alpha: .15;
}

.DocsMarkdown--link > code {
  --padding: 0;
  --background: transparent;
}

[theme="dark"] .DocsMarkdown--link {
  --background-color-alpha: .03;
  --border-bottom-color-rgb: var(--orange-rgb);
  --border-bottom-color-alpha: .35;
  color: var(--code-orange); /* TODO */
}

[theme="dark"] .DocsMarkdown--link:hover {
  --background-color-alpha: .08;
}

.DocsMarkdown strong {
  font-weight: 600;
}

.DocsMarkdown ol ol,
.DocsMarkdown ul ol {
  list-style-type: lower-roman;
}

.DocsMarkdown ol ol ol,
.DocsMarkdown ol ul ol,
.DocsMarkdown ul ol ol,
.DocsMarkdown ul ul ol {
  list-style-type: lower-alpha;
}

.DocsMarkdown dd {
  margin-left: 0;
}

.DocsMarkdown p,
.DocsMarkdown ol,
.DocsMarkdown ul,
.DocsMarkdown dl,
.DocsMarkdown blockquote {
  margin-bottom: 1em;
}

.DocsMarkdown pre,
.DocsMarkdown figure,
.DocsMarkdown table {
  margin-bottom: 2em;
}

.DocsMarkdown figure {
  margin-top: 2em;
}

.DocsMarkdown li pre,
.DocsMarkdown li figure,
.DocsMarkdown li table {
  margin-bottom: 1em;
}

.DocsMarkdown h1,
.DocsMarkdown h2,
.DocsMarkdown h3,
.DocsMarkdown h4,
.DocsMarkdown h5,
.DocsMarkdown h6,
p.DocsMarkdown--small-header {
  font-weight: 600;
}

.DocsMarkdown h2,
.DocsMarkdown h3,
.DocsMarkdown h4,
.DocsMarkdown h5,
.DocsMarkdown h6,
p.DocsMarkdown--small-header {
  line-height: 1.25;
  margin-bottom: .5em;
}

.DocsMarkdown h2 {
  margin-top: 1.55em;
}

.DocsMarkdown h3,
.DocsMarkdown h4,
.DocsMarkdown h5,
.DocsMarkdown h6 {
  margin-top: 1.8em;
}

p.DocsMarkdown--small-header {
  margin-top: 1.5em;
  margin-bottom: .75em;
}

.DocsMarkdown h2 + h3,
.DocsMarkdown h3 + h4,
.DocsMarkdown h4 + h5,
.DocsMarkdown h5 + h6 {
  margin-top: 1em;
}

@media (min-width: 1440px) {
  .DocsMarkdown h3,
  .DocsMarkdown h4,
  .DocsMarkdown h5,
  .DocsMarkdown h6 {
    margin-top: 2em;
  }
}

.DocsMarkdown h1 {
  font-size: 2.4em;
  line-height: 1;
  letter-spacing: -.03em;
  margin-bottom: .425em;
}

@-moz-document url-prefix() {
  .DocsMarkdown h1 {
    letter-spacing: 0;
  }
}

@media (max-width: 768px) {
  .DocsMarkdown h1 {
    font-size: 2.25em;
  }
}

@media (max-width: 374px) {
  .DocsMarkdown h1 {
    font-size: 2em;
  }
}

.DocsMarkdown h2 {
  font-size: 1.6666em;
}

@media (max-width: 768px) {
  .DocsMarkdown h2 {
    font-size: 1.5em;
  }
}

.DocsMarkdown h3 {
  font-size: 1.25em;
}

.DocsMarkdown h4 {
  font-size: 1em;
}

.DocsMarkdown h5,
.DocsMarkdown h6,
p.DocsMarkdown--small-header {
  font-size: .875em;
}

.DocsMarkdown ul {
  list-style: disc;
}

.DocsMarkdown ol,
.DocsMarkdown ul {
  padding-left: 1.25em;
}

.DocsMarkdown li {
  margin-bottom: .5em;
}

.DocsMarkdown ol ol,
.DocsMarkdown ol ul,
.DocsMarkdown ul ol,
.DocsMarkdown ul ul {
  margin-bottom: .75em;
}

.DocsMarkdown li > p + ul {
  margin-top: -.5em;
}

.DocsMarkdown dl {
  padding: 0
}

.DocsMarkdown dl dt {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  padding: 0
}

.DocsMarkdown dl dd {
  margin-bottom: 1.25em;
  padding: .25em 0 0 2em;
}

.DocsMarkdown--definitions {
  margin: 1.25em 0;
}

.DocsMarkdown--definitions > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.DocsMarkdown--definitions > ul > li > ul {
  list-style: none;
  padding-left: 2em;
}

.DocsMarkdown hr {
  height: 1px;
  margin-bottom: -1px;
  border: 0;
  border-bottom: 1px solid rgba(var(--color-rgb), .1);
  margin-top: 3em;
  margin-bottom: 3em;
}

[theme="dark"] .DocsMarkdown blockquote,
[theme="dark"] .DocsMarkdown dl,
[theme="dark"] .DocsMarkdown ol,
[theme="dark"] .DocsMarkdown p,
[theme="dark"] .DocsMarkdown pre,
[theme="dark"] .DocsMarkdown table,
[theme="dark"] .DocsMarkdown ul {
  color: var(--gray-7);
}

.DocsMarkdown > pre {
  --outdent: 1rem;
}

@media (max-width: 768px) {
  .DocsMarkdown > pre {
    --border-radius: 0em;
  }
}

.DocsMarkdown blockquote,
.DocsMarkdown dl,
.DocsMarkdown p,
.DocsMarkdown table {
  max-width: 100%;
}

.DocsMarkdown blockquote {
  position: relative;
  margin: 1.5em 0;
}

.DocsMarkdown blockquote > p {
  font-style: italic;
}

.DocsMarkdown blockquote > p > em {
  font-style: normal;
}

.DocsMarkdown blockquote cite {
  font-weight: bold;
  font-style: normal;
  font-size: .9em;
}

.DocsMarkdown blockquote cite::before {
  content: "— " / "Quotee";
}

.DocsMarkdown blockquote::after {
  position: absolute;
  content: "";
  top: 1.5em;
  bottom: 0;
  left: -1rem;
  width: 2px;
  background: rgba(var(--color-rgb), .2);
}

@media (max-width: 768px) {
  .DocsMarkdown blockquote {
    margin-left: 1rem;
  }
}

.DocsMarkdown blockquote::before {
  quotes: "“" "”";
  content: open-quote;
  position: absolute;
  top: .05em;
  left: -.8em;
  display: inline-block;
  font-family: Arial;
  font-weight: bold;
  font-size: 2em;
  line-height: 1;
  height: .5em;
  width: .7em;
}

.DocsMarkdown--aside {
  font-size: .9em;
  margin: 1.5em 0;
  padding: 1em 1.3333em;
  border-left: .28125em solid rgba(var(--color-rgb), .5);
  background-color: rgba(var(--color-rgb), .125);
  border-radius: 0 .5em .5em 0;
}

.DocsMarkdown--aside-header {
  margin-bottom: .25em;
}

.DocsMarkdown--aside[data-type="warning"] {
  border-left-color: rgba(var(--orange-5-rgb), .5);
  background-color: rgba(var(--orange-5-rgb), .125);
}

[theme="dark"] .DocsMarkdown--aside[data-type="warning"] {
  border-left-color: rgba(var(--orange-5-rgb), .7);
  background-color: rgba(var(--orange-6-rgb), .04);
}

.DocsMarkdown--aside[data-type="note"] {
  border-left-color: rgba(var(--blue-4-rgb), .4);
  background-color: rgba(var(--blue-4-rgb), .1);
}

.DocsMarkdown--aside[data-type="note"] .DocsMarkdown--link {
  --background-color-rgb: var(--blue-4-rgb);
  --border-bottom-color-rgb: var(--blue-2-rgb);
}

[theme="dark"] .DocsMarkdown--aside[data-type="note"] {
  border-left-color: rgba(var(--blue-4-rgb), .8);
  background-color: rgba(var(--blue-6-rgb), .05);
}

[theme="dark"] .DocsMarkdown--aside[data-type="note"] .DocsMarkdown--link {
  color: inherit;
  --background-color-rgb: var(--blue-6-rgb);
  --background-color-alpha: .1;
  --border-bottom-color-rgb: var(--blue-7-rgb);
}

[theme="dark"] .DocsMarkdown--aside[data-type="note"] .DocsMarkdown--link:hover {
  --background-color-alpha: .2;
}

.DocsMarkdown h2[id]::before,
.DocsMarkdown h3[id]::before,
.DocsMarkdown h4[id]::before,
.DocsMarkdown h5[id]::before,
.DocsMarkdown h6[id]::before {
  content: "";
  display: block;
  --offset: 2rem;
  height: var(--offset);
  margin-top: calc(-1 * var(--offset));
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 768px) {
  .DocsMarkdown h2[id]::before,
  .DocsMarkdown h3[id]::before,
  .DocsMarkdown h4[id]::before,
  .DocsMarkdown h5[id]::before,
  .DocsMarkdown h6[id]::before {
    --offset: calc(var(--docs-header-height) + 2rem);
  }
}

.DocsMarkdown--header-anchor-positioner {
  position: absolute;
}

blockquote .DocsMarkdown--header-anchor-positioner {
  display: none;
}

.DocsMarkdown--header-anchor {
  position: absolute;
  right: 100%;
  top: 0;
  height: 1.25em;
  opacity: 0;
  padding-right: .125em;
  transition: opacity .15s, color .15s;
}

.DocsMarkdown--header-anchor::before {
  content: "#" / "Anchor link";
}

@media (max-width: 768px) {
  .DocsMarkdown--header-anchor {
    margin-top: -.125em;
    padding-right: .0625em;
  }

  .DocsMarkdown--header-anchor::before {
    font-size: 1.1rem;
  }
}

.DocsMarkdown--header-anchor:focus,
.DocsMarkdown h2:hover .DocsMarkdown--header-anchor,
.DocsMarkdown h3:hover .DocsMarkdown--header-anchor,
.DocsMarkdown h4:hover .DocsMarkdown--header-anchor {
  opacity: 1;
}

.DocsMarkdown table {
  word-break: break-word;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  --border-color: rgba(var(--color-rgb), .1);
}

.DocsMarkdown th {
  vertical-align: bottom;
  font-weight: bold;
  border-bottom: 2px solid var(--border-color);
}

.DocsMarkdown th,
.DocsMarkdown td {
  padding: .66em 1em;
  text-align: left;
}

.DocsMarkdown th[align="right"],
.DocsMarkdown td[align="right"] {
  text-align: right;
}

.DocsMarkdown td:not([valign]) {
  vertical-align: top;
}

@media (max-width: 768px) {
  .DocsMarkdown table {
    display: block;
    overflow-x: auto;
    max-width: 100%;
  }

  .DocsMarkdown th,
  .DocsMarkdown td {
    padding-left: .5em;
    padding-right: .5em;
  }
}

.DocsMarkdown th:first-child,
.DocsMarkdown td:first-child {
  padding-left: 0;
}

.DocsMarkdown th:last-child,
.DocsMarkdown td:last-child {
  padding-right: 0;
}

.DocsMarkdown th {
  padding-bottom: .1875em;
}

.DocsMarkdown tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--border-color);
}

.DocsMarkdown details summary {
  padding: 0 .8em;
  line-height: 2;
  background: rgba(var(--color-rgb), .05);
  border-radius: .25em;
  cursor: pointer;
  font-weight: 600;
}

.DocsMarkdown details summary {
  cursor: pointer;
  box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
}

[js-focus-visible-polyfill-available] .DocsMarkdown details summary:focus {
  outline: none;
}

.DocsMarkdown details summary:not([is-focus-visible]) {
  --focus-size: 0em;
}

.DocsMarkdown details {
  margin-top: 1em;
  margin-bottom: 1em;
}

.DocsMarkdown details p {
  padding-left: 1.9em;
}

@media (max-width: 414px) {
  .DocsMarkdown details p {
    padding-left: 0;
  }
}

.DocsMarkdown details[open] {
  margin-bottom: 1.5em;
}

.DocsMarkdown details[open] summary {
  margin-bottom: .5em;
}

.DocsMarkdown kbd {
  font-family: inherit;
  font-size: .9em;
  padding: .3em .4em;
  background: rgba(var(--color-rgb), .025);
  box-shadow:
    inset 0 0 0 1px rgba(var(--color-rgb), .2),
    inset 0 -1px rgba(var(--color-rgb), .25),
    0 1px rgba(var(--color-rgb), .4);
  border-radius: .25em;
}

[theme="dark"] .DocsMarkdown kbd {
  background: rgba(var(--orange-rgb), .1);
  box-shadow: inset 0 0 0 1px rgba(var(--orange-rgb), .5);
  border-radius: .4em;
}

.DocsMarkdown--example {
  padding: 1em 1.25em;
  margin: -.5em auto 1.25em;
  border: 1px solid rgba(var(--color-rgb), .1);
  border-radius: .125em;
}

.DocsMarkdown > *:first-child,
.DocsMarkdown ul > *:first-child,
.DocsMarkdown ol > *:first-child,
.DocsMarkdown li > *:first-child,
.DocsMarkdown blockquote > *:first-child,
.DocsMarkdown details > *:first-child,
.DocsMarkdown--example > *:first-child,
.DocsMarkdown--aside > *:first-child,
.DocsMarkdown > div > *:first-child {
  margin-top: 0;
}

.DocsMarkdown > *:last-child,
.DocsMarkdown ul > *:last-child,
.DocsMarkdown ol > *:last-child,
.DocsMarkdown li > *:not(ul):not(ol):not(pre):not(figure):not(table):last-child,
.DocsMarkdown blockquote > *:last-child,
.DocsMarkdown details > *:last-child,
.DocsMarkdown--example > *:last-child,
.DocsMarkdown--aside > *:last-child,
.DocsMarkdown > div > *:last-child {
  margin-bottom: 0;
}
