.DocsContent {
  padding: 2.7rem 3.7647058824rem 3.5rem; /* 64 / 17 */ /* TODO */
  min-height: calc(100vh - 12.5em); /* TODO */
}

.DocsContent[page-type="document"] {
  width: calc(100% - var(--docs-body-sidebar-width));
}

@media (max-width: 768px) {
  .DocsContent {
    padding: 2rem 1rem;
    min-height: 1em; /* TODO */
  }
}

.DocsContent--breadcrumbs {
  margin: -.5em 0 .3125em;
}

@media (min-width: 769px) {
  .DocsContent--breadcrumbs {
    display: none;
  }
}
