@media (hover: hover) {
  .DocsMarkdown--table-wrap:hover {
    width: calc(100% + var(--docs-body-sidebar-width));
  }

  .DocsMarkdown--table-wrap:hover table {
    background-color: var(--background-color);
    z-index: 1;
  }
}
