.CSSTransitionFadeLift---root {
  position: relative;
}

.CSSTransitionFadeLift-enter {
  opacity: 0;
  transform: translate3d(0, .25em, 0);
}

.CSSTransitionFadeLift-exit {
  transform: translate3d(0, 0, 0);
}

.CSSTransitionFadeLift-enter-active {
  z-index: 1;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.CSSTransitionFadeLift-exit-active {
  opacity: 0;
  transform: translate3d(0, .25em, 0);
}

.CSSTransitionFadeLift-exit-active,
.CSSTransitionFadeLift-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity .18s ease, transform .18s ease;
}
